
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border: 3px solid black;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    border: 2px solid blue;
}

form label {
    margin-top: 3%;
}

form select, input {
    width: 40%;
    font-size: 14px;
    margin-top: 3%;
}


button {
    font-size: 14px;
    font-weight: bold;
    width: 60%;
    margin-top: 8px;
    background-color: silver;
}

button:hover {
    cursor: pointer;
}

#price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

img {
    width: 35%;
    height: 20vh;
}
